/dist/
/dist-newstyle/
/cabal.project.local*
/*result*
/example/db/db.sqlite
/example/db/schema
/example/gnupg/random_seed
/example/gnupg/.gpg-v21-migrated
/example/gnupg/private-keys-v1.d
*.drv
*.png
